body {
	margin: 0;
}

main {
	box-sizing: border-box;
	padding: 32px;
	max-width: 700px;
	color: #34495e;
}

footer {
	padding: 32px 0 0 0;
	margin: 32px 0 0 0;
	border-top: solid 1px #eee;
}

footer .contribution {
	margin: 0 0 16px 0;
}

footer .copyright {
	margin: 16px 0 0 0;
	color: #aaa;
}

a {
	text-decoration: none;
	color: #f76d6c;
}
	a:hover {
		text-decoration: underline;
	}

h1 {
	margin: 0;
	padding: 16px 0;
	font-size: 32px;
	border-bottom: solid 2px #eee;
}

h2 {
	padding: 16px 0;
	border-bottom: solid 1px #eee;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table thead {
	font-weight: bold;
	border-bottom: solid 2px #eee;
}

table tbody tr {
	border-bottom: dashed 1px #eee;
}

table th, table td {
	padding: 8px 16px;
}

table.entity tbody tr td:nth-child(1) {
	font-family: monospace;
}

table.entity tbody tr td:nth-child(2) {
	font-style: italic;
}

table.entity tr td:nth-child(3):after {
	margin-left: 8px;
	opacity: 0.7;
}

table.entity tr.nullable td:nth-child(2):after {
	content: "?";
	opacity: 0.7;
}
table.entity tr.nullable td:nth-child(3):after {
	content: "(Null許容)";
}

table.entity tr.optional {
	opacity: 0.7;
}
table.entity tr.optional td:nth-child(3):after {
	content: "(省略可能)";
}

table.entity tr.nullable.optional td:nth-child(3):after {
	content: "(Null許容かつ省略可能)";
}

pre, code, var, samp, kbd {
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

pre code {
	display: block;
	overflow: auto;
	padding: 32px;
	color: #525252;
	background: #f8f8f8;
}
