doctype html

!= '\r\n<!-- Thank you for using Misskey! @syuilo -->\r\n'

html(lang='ja', dir='ltr')

	head
		meta(charset='utf-8')
		meta(name='application-name', content='Misskey')
		meta(name='theme-color', content= config.themeColor)
		meta(name='referrer', content='origin')
		title
			if env !== 'production'
				| (DEBUG)
				= ' '
			| Misskey
		style
			include ./../../built/resources/init.css
		script(src='https://use.fontawesome.com/22aba0df4f.js', async)
		block head

	body
		noscript: div: p JavaScriptを有効にしてください
		div#init: p
			span .
			span .
			span .
