input:not([type])
input[type='text']
input[type='password']
input[type='email']
textarea
button
	-webkit-appearance none
	-moz-appearance none
	appearance none

button
	margin 0
	padding 0
	background transparent
	border none
	box-shadow none
	cursor pointer
	color inherit
