doctype html

html(lang='ja', dir='ltr')

	head
		meta(charset='utf-8')
		meta(name='application-name', content='Misskey')
		meta(name='referrer', content='origin')
		link(rel='stylesheet', href='/resources/style.css')
		title
			block title

	body
		main
			article
				block content
			footer
				p.contribution
					| 間違いを見つけた、またはドキュメントに貢献したいですか？
					a(href='https://github.com/syuilo/misskey-core/blob/master/src/web/about/pages/' + path + '.pug', target='_blank') Github 上でこのページを編集する
					|  か、
					a(href='https://github.com/syuilo/misskey-core', target='_blank') Github からこのサイトを Fork してプルリクエストしましょう！
				p.copyright (c) syuilo 2016
