doctype html

html(lang='ja', dir='ltr')

	head
		meta(charset='utf-8')
		meta(name='application-name', content='Misskey')
		meta(name='referrer', content='origin')
		link(rel='stylesheet', href='/resources/style.css')
		title
			//- block title
			| About Misskey

	body
		main
			header
				h1
					block title
			block content
