html
	background #eee

body
	margin 0
	padding 32px 0

.me
	width 100%
	max-width 500px
	margin 0 auto
	padding 0 0 32px 0
	text-align center
	color #777

	> img
		display inline-block
		margin-right 8px
		vertical-align bottom
		width 56px
		height 56px
		border-radius 100%

	> p
		display inline-block
		margin 0
		vertical-align bottom
		line-height 56px

main
	width 100%
	max-width 500px
	margin 0 auto
	text-align center
	background #fff
	box-shadow 0px 4px 16px rgba(0, 0, 0, 0.2)

form
	> header
		> h1
			margin 0
			padding 32px 32px 20px 32px
			font-size 24px
			font-weight normal
			color #777

			i
				color #77aeca

			b
				color #666

		> img
			display block
			box-sizing border-box
			width 84px
			height 84px
			margin 0 auto -38px auto
			border solid 5px #fff
			border-radius 100%
			box-shadow 0 2px 2px rgba(0, 0, 0, 0.1)

	> .app
		padding 44px 16px 0 16px
		color #555
		background #eee
		box-shadow 0 2px 2px rgba(0, 0, 0, 0.1) inset

		&:after
			content ''
			display block
			clear both

		> section
			float left
			box-sizing border-box
			width 50%
			padding 8px
			text-align left

			> h2
				margin 0
				font-size 16px
				color #777

	> .action
		padding 16px

		> input
			margin 0 8px
