doctype html

html(dir='ltr')
	head
		meta(charset='utf-8')
		title Misskey Core
		style
			include index.css
		script
			include particles.js

	body
		div#canv

		main

		script.
			particlesJS.load('canv', 'resources/particles.json');
