html, body
	margin 0
	padding 0
	width 100%
	height 100%

html
	background #1C1E20

#canv
	display block
	position absolute
	width 100%
	height 100%

	canvas
		display block
		width 100%
		height 100%
		

main
	display block
	position relative
	z-index 1
	width 100%
	height 100%
	background-image url('/resources/wallpaper.svg')
	background-position center center
	background-size cover
	pointer-events none
