doctype html

html(dir='ltr')
	head
		meta(charset='utf-8')
		title Misskey Core
		style
			include index.css
		script(src='//cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js')

	body
		div#canv

		main

		script.
			particlesJS.load('canv', 'resources/particles.json');
